*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ——— THEME TOKENS ——— */
:root {
  --clr-bg: #0b0b0b;
  --clr-text: #ffffff;
  --clr-muted: #d3d3d3;
  --clr-accent: #6d6aff;
  --clr-accent-2: #c400ff;
  --glass-bg: rgba(255, 255, 255, 0.075);
  --glass-border: rgba(255, 255, 255, 0.18);
  --clr-muted-dark: #201d1dc0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  overflow-x: hidden;
  background: black;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  align-items: center;
  position: sticky;
  top: 3%;
  width: 80%;
  height: 3rem;
  border-radius: 1.45rem;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 2% 0 2%;
  color: rgba(255, 255, 255, 0.918);
  background: var(--glass-bg);
  border: 2px solid var(--glass-border);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6), 0 16px 32px rgba(0, 0, 0, .12);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: url(#liquid-glass);
  display: flex;
  gap: 5%;
  flex-direction: row;
  transition: all 0.3s ease;
  align-self: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  place-items: center;
  cursor: pointer;
  outline: 0;
  z-index: 1000;
}
.header.scrolled {
  color: rgba(255, 255, 255, 0.932);
  /* or neon/whatever ensures visibility */
}
header.scrolled li {
  color: inherit;
}
header:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .8), 0 16px 32px rgba(0, 0, 0, .2);
}
.logo-div {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-self: center;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  border: none;
  border-radius: none;
  padding: 2px;
  border-radius: 7px;
  color: white;
  background: transparent;
  cursor: pointer;
}
.logo-div:hover {
  color: #ebdada;
  border: 2px solid var(--glass-border);
  border-radius: 14px;
  padding: 6px;
  color: #ffffff;
  border: 2px solid var(--glass-border);
  border-radius: 14px;
  padding: 4px;
  margin: 4px;
  background: var(--glass-bg);
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6), 0 8px 3px rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(8px);
}
.logo {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: center;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.logo-div h1 {
  color: white;
  font-size: 0.65rem;
  font-weight: 400;
  vertical-align: center;
}
.ul-one {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 0;
  color: #ffffffc0;
  font-size: 15px;
}
.ul-one li {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  margin: 0;
  color: #ffffffc0;
}
.ul-one li:hover {
  color: #ffffff;
  border: 2px solid var(--glass-border);
  border-radius: 14px;
  padding: 4px;
  margin: 4px;
  background: var(--glass-bg);
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6), 0 8px 3px rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(8px);
}
.ul-two {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 0;
  color: #ffffffec;
  font-size: 15px;
}
.ul-two li {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  color: #ffffffc0;
}
.ul-two li:hover {
  color: #ffffff;
  border: 2px solid var(--glass-border);
  border-radius: 14px;
  padding: 4px;
  margin: 4px;
  background: var(--glass-bg);
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6), 0 8px 3px rgba(0, 0, 0, 0.548);
  backdrop-filter: blur(8px);
}
.menu-btn {
  display: none;
}

.hero {
  position: relative;
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.hero-bg-img {
  display: none;
}
.hero-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('src/preview.png');
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem 1rem;
  margin: 0;
}

.hero h1 {
  top: clamp(13.5%, 7%, 9.5%);
  font-size: clamp(5.25rem, 6vw, 6rem);
  position: inherit;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0.418));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Add glass-like glow */
  text-shadow:
    0 4px 10px rgba(0, 0, 0, 0.3),
    0 0 15px rgba(255, 255, 255, 0.603);
}

.hero h1::before {
  content: "WinkyX- the future";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.822), rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(7px);
  opacity: 0.6;
  z-index: -1;
}

.hero h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.603), transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shine {
  90% {
    left: 99%;
  }

  100% {
    left: 100%;
  }
}

.hero-btns {
  top: 22%;
  position: inherit;
  display: flex;
  flex-direction: row;
  gap: clamp(0.5rem, 4vw, 2rem);
  flex-wrap: wrap;
}
.primary-btn {
  border: 2px solid var(--glass-border);
  background: var(--glass-bg);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6), 0 8px 3px rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(8px);
  transition: all .200s ease-in-out;
}
.primary-btn:hover {
  background: linear-gradient(155deg, var(--glass-bg) 60%, var(--glass-border) 80%, #ffffff73);
}
.primary-btn:active {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6);
  transform: translateY(6px);
}
.second-btn {
  border: 2px solid var(--glass-border);
  background: var(--glass-bg);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .6);
  backdrop-filter: blur(8px);
  transition: all .325s ease-in-out;
}
.second-btn:hover {
  background: linear-gradient(155deg, var(--glass-bg) 60%, var(--glass-border) 80%, #ffffff41);
}
.spline-bot {
  position: absolute;
  /* place it freely */
  top: 30vh;
  /* distance from bottom */
  right: 0;
  /* distance from right */
  width: 300px;
  /* size */
  height: 300px;
  z-index: 10;
  /* keep it above background but under UI */
  pointer-events: none;
  /* so it won’t block clicks */
}
.spline-bot iframe {
  background: transparent !important;
  width: 100%;
  height: 100%;
  border: none;
}
.spline-bot iframe {
  pointer-events: none;
  /* prevent blocking clicks */
}
.spline-bot iframe::-webkit-scrollbar,
.spline-bot iframe *[class*="spline"],
.spline-bot iframe+div {
  display: none !important;
  /* nukes badge */
}
.preview-img {
  position: relative;
  margin-top: 5.25%;
  height: 94vh;
  width: 98%;
  align-self: center;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  place-items: center;
  cursor: pointer;
  outline: 0;
  border-radius: 14px;
}
.hero-carasoule {
  bottom: 12%;
  position: inherit;
  width: 100%;
  overflow: hidden;
  padding: 40px 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-track {
  display: flex;
  gap: 20px;
  animation: slideCards 30s linear infinite;
  width: calc(180px * 14);
  /* width of one card * number of cards */
}
.slide-track>* {
  flex: 0 0 auto;
  /* prevent shrinking */
}
@keyframes slideCards {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* shift by half since duplicated */
  }
}

.lqd-capsule {
  padding: 1.25rem 2.25rem;
  border-radius: 20px;
  position: relative;
}
.lqd-capsule,
.lqd-capsule > div {
  border-radius: 2rem;
}
.liquidGlass-text-capsule {
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--clr-muted);
  gap: 0.5rem;
  vertical-align: middle;
}
.capsule {
  position: relative;
  width: 180px;
  height: 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: var(--clr-muted);
  gap: 0.5rem;
  vertical-align: middle;
}
.liquidGlass-text-capsule i {
  font-size: 22px;
}
.liquidGlass-text-capsule .handle {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}
.features {
  scroll-behavior: smooth;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: transparent;
}
.features h1 {
  top: 9.5%;
  font-size: clamp(2rem, 6vw, 7rem);
  position: inherit;
  left: 10px;
  z-index: 100;
}
.cards-section {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  width: 100%;
  margin-left: 4%;
  margin-right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  position: inherit;
}
.card {
  top: 0;
  position: inherit;
  height: 600px;
  width: 290px;
  border: 1px solid #ffffff48;
  background: transparent;
  border-radius: 16px;
}
.card img {
  height: 600px;
  width: 287px;
  border-radius: 16px;
}

.third-page {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 150vh;
  overflow: hidden;
  width: 96%;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 2% 2%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-image: url('src/3.png');
  display: flex;
}
.text-int-div {
  display: flex;
  flex-direction: row;
  gap: -15%;
  width: 55%;
  margin: 0 0 25% 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.text-int {
  margin-top: clamp(13.5%, 7%, 16.5%);
  font-size: clamp(5.25rem, 6vw, 8rem);
  position: inherit;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.692), rgba(255, 255, 255, 0.418));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Add glass-like glow */
  text-shadow:
    0 4px 10px rgba(0, 0, 0, 0.3),
    0 0 15px rgba(255, 255, 255, 0.603);
}
.text-int-one {
  width: 125px;
  height: 125px;
}
.text-int-sec {
  width: 125px;
  height: 125px;
}
.card-div {
  position: inherit;
  display: flex;
  flex-direction: row;
  gap: 0;
  border: none;
  margin-left: 10%;
  margin-right: 10%;;
  width: 80%;
}
.cards {
  padding: 2rem;
}
.cards,
.cards > div {
  height: 500px;
  width: 300px;
  padding: 3rem;
  border-radius: 4rem;
}
.cards:hover {
  padding: 5rem;
  border-radius: 1.8rem;
}
.pfp {
  padding: 0.75rem;
  border-radius: 50%;
}

.liquidGlass-wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  color: black;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
.liquidGlass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;

  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}
.liquidGlass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}
.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;

  overflow: hidden;

  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}
.liquidGlass-text {
  z-index: 3;
  color: white;
  padding: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.5px;
}
.liquidGlass-text:hover {
  transform: scale(0.95);
}
.wrapper {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.button {
  padding: 1rem 1.5rem;
  border-radius: circle;
  position: relative;
}
.button,
.button > div {
  border-radius: 3rem;
}
.button:hover {
  padding: 1.25rem 1.8rem;
}
.button:active {
  padding: 0.9rem 1.25rem;
}
.button:hover > div {
  border-radius: 4rem;
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -1500%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .button:hover > .liquidGlass-effect {
    animation: moveBackground 5s linear infinite;
  }
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
/* Responsible to mobile devices */
@media (max-width: 786px), (max-width: 930px) {
  .ul-two,
  .ul-one {
    display: none;
  }
  header {
    align-items: center;
    position: sticky;
    top: 1.5%;
    width: 80%;
    height: 2.5rem;
    border-radius: 1.45rem;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  .logo-div {
    position: absolute;
  }
  .menu-btn {
    margin-left: 90%;
    text-decoration: none;
    display: block;
    padding: 0.25rem;
    border-radius: 50%;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: left 0.3 ease;
    z-index: 99999;
  }
  .meu.active {
    left: 0;
  }
  .menu-btn svg {
    color: white;
    height: 1.75rem;
    width: 1.75rem;
  }

  .hero {
    min-height: 100vh;
  }
  .hero-btns {
    top: 32%;
  }
  .hero-img {
    background-image: none;
    padding: 0;
  }
  .hero-bg-img {
    position: absolute;
    display: block;
    top: 30%;
    width: 100%;
    height: 45%;
    margin-left: 0;
  }
  .preview-img {
    position: absolute;
    height: 23rem;
    width: 95%;
    border-radius: 14px;
    align-self: center;
    top: 43%;
    margin: 0 0 0;
    left: 2.5%;
    right:5%;
  }
  .img-preview {
    align-items: center;
    justify-content: center;
  }
  .hero-carasoule {
    top: 70%;
  }
}